# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
lower_case_table_names = 1
